:root {
    --background-color: #ffffff;
    /* Background color for the entire website, including individual sections */
    --default-color: #364d59;
    /* Default color used for the majority of the text content across the entire website */
    --heading-color: #52565e;
    /* Color for headings, subheadings and title throughout the website */
    --accent-color: #feb900;
    /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff;
    /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff;
    /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

:root {
    --nav-color: rgba(255, 255, 255, 0.55);
    --nav-color-scroll: rgba(255, 255, 255, 0.95);
    --nav-bg-mask: rgba(0, 0, 0, 0.55);
    /* The default color of the main navmenu links */
    --nav-hover-color: #ffffff;
    /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff;
    /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff;
    /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #212529;
    /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #feb900;
    /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

:root {
    --slider-text: #fff;
    --black: #000;
    --nav-scrolled-color: #3C3C3C;
}

/* px to rem */
:root {
    --fs-30: 1.875rem;
    --fs-20: 1.25rem;
    --fs-18: 1.125rem;
    --fs-16: 1rem;
    --fs-14: 0.875rem;
    --fs-12: 0.75rem;
    --fs-24: 1.5rem;
    --fs-56: 3.5rem;
}